* {
    pad: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.main {
    margin: 0 50px 0 0;
}

.main .header {
    border-bottom: 3px solid orange;
    height: 12vh;
}

.main .header img {
    display: flex;
    margin-right: 0;
}

.middle {
    display: flex;
}

.nav {
    background: url(../image/back.jpg);
    background-repeat: repeat-y;
    width: 16%;
    margin: 0;
    height: 88vh;
}

.nav ul {
    list-style: none;
    padding: 2px 0 0 10px;
    font-size: 18px;
}

.nav ul li:first-child {
    margin: 5px 0 0 0;
    padding: 0 0 5px 0;
}

.nav ul li {
    border-bottom: 2px dashed brown;
    padding: 6px 0;
    width: 62%;
    margin: 0;
}

.nav ul li a {
    text-decoration: none;
}
.content {
    width: 84%;
}

.content {
    margin: 20px 0;
}

.content .start {
    margin-bottom: 20px;
}

.content .start h1 {
    color: orange;
    margin-bottom: 20px;
}

.content .start .img {
    position: relative;
}

.content .start .img img {
    margin-left: 30px;
    width: 32%;
}

.start .img .container1{
    width: 200px;
    height: 180px;
    background-color: #fff;
    color: brown;
    border: 3px solid;
    border-color: #747474 #ccc #ccc #747474;
    position: absolute;
    top: -20px;
    left: 340px;
}

.start .img .container2{
    width: 200px;
    height: 100px;
    background-color: #fff;
    color: brown;
    border: 3px solid;
    border-color: #747474 #ccc #ccc #747474;
    position: absolute;
    top: 36%;
    left: -20px;
}

.start .img .container3{
    width: 180px;
    height: 120px;
    background-color: #fff;
    color: brown;
    border: 3px solid;
    border-color: #747474 #ccc #ccc #747474;
    position: absolute;
    bottom: 80px;
    left: 280px;
}

.footer {
    font-size: 20px;
    border-top: 3px solid orange;
    color: orange;
    text-align: center;
    line-height: 30px;
}